/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2015, 1:08:15 AM
    Author     : Samael Wang <freesamael@gmail.com>
*/

.background {
    -fx-background-color: #1e1f20;
}

.label {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 42.0;
    -fx-padding: 24.0;
}

.button {
    -fx-background-color: inherit;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 24.0;
}

.button:pressed {
    -fx-background-color: #3c3d3e;
}

.alpha-button {
    -fx-background-color: inherit;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 16.0;
}

.alpha-button:pressed {
    -fx-background-color: #3c3d3e;
}

.digit-button {
    -fx-background-color: inherit;
    -fx-text-fill: white;
    -fx-font-size: 28.0;
}

.digit-button:pressed {
    -fx-background-color: #3c3d3e;
}